
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataEar</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>

<body style="background-color:white;">
    <h1>HI</h1>
<table style="border: 1px solid; width: 30%;">
    <tr> 
        <th style="border: 1px solid; text-align: center;">ID</th>
        <th style="border: 1px solid; text-align: center;">UserName</th>
    </tr>
    {% for row in rows %}
<tr>
    <td style="border: 1px solid; text-align: center;">{{ row.id }}</a></td>
    <td style="border: 1px solid; text-align: center;">{{ row.username }}</td>
</tr>
{% endfor %}


</body>
</html>